@charset "utf-8";

*{margin: 0;padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color: #fff; display: inline-block; text-align: center;}
p{color: #fff; font-weight: 600;}
/* span{font-weight: 600;} */
img{max-width: 100%;}
/* h1,h2,h3,h4,h5,h6{font-size: 1em;} */




/* :lang(en){font-family: 'Poppins',sans-serif;}
:lang(ko){font-family: 'Pretendard', sans-serif;} */

/* @import url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff');
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	src: url('/Wellysis/font/Pretendard-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('/Wellysis/font/Pretendard-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('/Wellysis/font/Pretendard-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('/Wellysis/font/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('/Wellysis/font/Pretendard-Regular.woff2') format('woff2');} */

body{font-family: 'Poppins', 'Pretendard', sans-serif;font-size:16px;font-style: normal;text-decoration: none;color: #fff;overflow-x:hidden;position:relative;background-color: #000;}


/* #wrap{max-width: 1920px; width: 100%; margin: 0 auto;} */

/* header */

.head{width: 100%; height: 120px;background-color: #000; display: flex; justify-content: space-between; align-items: center;}
.head .head_left img{width: 160px; height: 50px; padding-left: 3rem;}
.head .head_mid ul{display: flex;}
.head .head_mid ul li{padding: 0 35px; font-size: 18px; }
.head .head_mid ul li:hover > a{color: #8181ff;transition: 0.3s;}
.head .head_mid ul li span{border: 2px solid #4a3ab2; border-radius: 22px; transition: 0.3s; padding: 10px 25px; cursor: pointer;}

/* 서브메뉴 */
.head .head_mid .mid_sub{display: none; left: 0;top: 0; width: 100%;height: 180px;}
/* .head .head_mid ul li:hover > .mid_sub{display: block;left: 0;top: 0; width: 100%;height: 180px; background-color: #ccc;color: #fff;} */


.head .head_right .right{display: flex;padding-right: 3rem;}
.head .head_right .right li{padding: 10px; font-size: 18px; position: relative;}
/* .head .head_right .right li:last-child::after{content: ""; width: 1px; height: 12px;background-color: #777;position: absolute; left: 50%; top: 50%;transform: translate(-50%,-50%);} */
.head .head_right .right li:last-child a{color: #777;}

/* .head, .con1_inner>.text:first-child{font-family:'Poppins', sans-serif;} */

/* main */
main{max-width: 1920px; width: 100%; margin: 0 auto;}

.video{width: 100%;height: 100vh; position: relative;}
.video video{width: 100%;}
.video .text{position: absolute;left: 50%;top: 70%; transform: translate(-50%,-70%); text-align: center;}
.video .text p:nth-child(1){font-size: 54px;}
.video .text p:nth-child(2){font-size: 32px; margin-top: 23px;}
.video .text > a{width: 200px; height: 53px; line-height: 50px; border: 2px solid #999; border-radius: 26px; margin-top: 35px; font-weight: 500; transition: 0.5s;}
.video .text > a:hover{color: #000;background-color: #fff; border-color: #fff;transition: 0.5s;}


.con1, .con2, .con3, .con4, .fot{max-width: 1420px; width: 80%; padding: 100px 0 250px; margin: 0 auto;}

/* con1 */


.con1 .con1_inner .text{text-align: left;}
.con1 .con1_inner .text p:nth-child(1){font-size: 48px; margin-top: 10px;}
.con1 .con1_inner .text p:nth-child(2){margin-top: 20px; font-size: 22px; color: #7478f6; font-weight: 600;}

.con1 .con1_count{display: flex; justify-content: space-around; align-items: center; margin-top: 120px;}
.con1 .con1_count li{padding: 0px,0px,0px,40px;}
.con1 .con1_count li > img{width: 40%;}
.con1 .con1_count li .con1_desc{margin-top: 85px;}
.con1 .con1_count li .con1_desc > span{font-size: 28px;}
.con1 .con1_count li .con1_desc > p{margin-top: 25px; font-size: 18px;}
.con1 .con1_count li .con1_desc > p:last-child{margin-top: 5px;}



/* con2 */

/* .con2_inner{max-width: 1420px;width: 80%; margin: 0 auto; position: relative;} */
.con2_inner .con2_first .con2_text p{font-size: 48px;}

.con2_list li{display: flex; justify-content: space-between; align-items: center; margin-top: 100px;}
.con2_list .list_left{padding-right: 50px; width: 49.5%;}
.con2_list .list_left span{border: 1px solid #999; border-radius: 18px; padding: 5px 24px;}
.con2_list .list_left p{margin: 23px 0 20px; font-size: 30px;}
.con2_list .list_left a{margin-top: 35px; font-size: 18px; color: #7478f6; position: relative;}
.con2_list .list_left a::after{content: ""; position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;background-color: #7478f6;transform: scaleX(0);transition: all 0.2s linear;transform-origin: left;}
.con2_list .list_left a:hover::after{transform: scaleX(1); transition: all 0.2s linear;}

.con2_list .list_right{overflow: hidden; width: 50.5%;}
.con2_list li:first-child .list_right > img{border: 1px solid #7B8BB0;}
.con2_list .list_right img{border-radius: 30px;}


/* con3 */


.con3_text{text-align: center;}
.con3_text span,.con4_text span{border: 1px solid #999; border-radius: 18px; padding: 5px 24px;}
.con3_text p,.con4_text p{font-size: 48px; margin-top: 30px;}




/* con4 */





/* footer */
.fot{ width: 100%;}
.fot .fot_inner{ background-color: #161616; padding: 50px 0;}
.fot_inner .fot_desc{max-width: 1680px; width: 92%;}
.fot_inner > img{width: 130px;}

.fot_list{display: flex;justify-content: space-between; margin-top: 40px;}
.fot_list li{border-left: 1px solid #282828; padding: 0 15px 0 30px; display: flex;flex-direction: column;}
.fot_list li a{margin-bottom: 18px; text-align: left; color: #777;}
.fot_list li a:first-child{color: #fff;}
.fot_list li a:hover{color: #fff;}