@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{margin: 0;padding: 0;}
body{font-family: 'Rubik', 'Pretendard', sans-serif; margin: 0 auto;box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; display: inline-block;}
img{border-radius: 30px;object-fit: cover; width: 100%;height: 100%;}
span{display: inline-block;}

/* header */

header{width: 100%; height: 105px; background-color: #fff; position: fixed; left: 0;top: 0; padding: 0 54px;  z-index: 999;}
.head{display: flex; justify-content: space-evenly; align-items: center;}
.head_left img{border-radius: 0;line-height: 105px;}
.head .menu ul{display: flex;line-height: 105px;}
.head .menu ul li{padding: 0 30px; position: relative;}
.head .menu ul li a{color: #000;font-size: 24px; font-weight: 600;position: relative;}
.head .menu ul li .sub{width: 100%;opacity: 0; overflow: hidden;transition: 0.3s ease-in-out;position: absolute;left: 0;top: 100%; display: flex; flex-direction: column; align-items: center;text-align: center; z-index: 1;}
.head .menu ul:hover .sub{width: 100%; height: 250px; box-sizing: border-box; opacity: 1;}
.head .menu ul .sub li{width: 100%; line-height: 40px; text-align: center; font-weight: bold;}
.head .menu .bg{position: absolute;left: 0;top: 100px;width: 100%;height: 0;transition: 0.4s;}
.head .menu ul:hover ~ .bg{height: 250px;background-color: #fff;}

.head .head_right ul{display: flex; justify-content: flex-start; align-items: center;}
.head .head_right ul li{padding: 0 15px;}
.head .head_right ul li a{font-size: 16px; font-weight: 600; background-color: #eaeaea; color: #000; border-radius: 50px; padding: 5px 10px;}
.head .head_right ul li img{vertical-align: middle;}



/* main */
main{max-width: 1789px; width: 100%; padding: 0 54px 50px; margin: 120px auto; }
.swiper {
  width: 100%;
  height: 420px;
  position: relative;
}
.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next,.swiper-button-prev{color: #fff;}

.slidetxt{position: absolute;left: 50%;top: 50%; transform: translate(-50%,-50%); width: 90%;z-index: 2; color: #fff; text-align: center;}
.slidetxt p:first-child{font-size: 54px; font-weight: 600;}
.slidetxt p:last-child{font-size: 106px; font-weight: bold;}


/* content 01 */
.con1{width: 100%; margin: 20px auto; display: grid;grid-template-columns: 1fr 2fr 1fr; gap: 20px; justify-content: center; align-items: center;}
.con1 .grid_item{position: relative;}
.con1 .grid_item > img{width: 100%; height: 441px;}
.con1 .grid_item > p.txt{position: absolute; left: 5%;top: 5%; color: #fff; font-size: 34px; font-weight: bold;}

/* content 02 */
.con2{width: 100%;height: 885px;display: grid; grid-template-columns: 1fr 1fr; gap: 30px; justify-content: center; align-items: center;}

.con2 .left{max-width: 885px; max-height: 885px; position: relative;}
.con2 .left > .txt{width: 100%; position: absolute; left: 50%;top: 50%; transform: translate(-50%,-50%); color: #fff; font-size: 146px; font-weight: bold; text-align: center;}
.con2 .left > .txt p:nth-child(2),.con2 .left > .txt p:nth-child(3){color: rgba(255,255,255,0.5);}

.con2 .right{width: 885px;height: 885px;}
.con2 .right ul{width: 100%; display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap; gap: 20px;}
.con2 .right ul li{width: 430px;height: 430px; position: relative;}
.con2 .right ul li:first-child{display: flex; justify-content: center;align-items: center;flex-direction: column;}
.con2 .right ul li .text{text-align: center;}
.con2 .right ul li .text p:nth-child(1){font-size: 40px; font-weight: bold;}
.con2 .right ul li .text p:nth-child(2){font-size: 20px; color: rgba(0,0,0,0.5);}
.con2 .right ul li .text span{width: 163px; height: 45px; text-align: center; line-height: 45px; margin-top: 55px; background-color: #f5f5f5; border-radius: 50px; font-size: 18px; font-weight: 600;}
.con2 .right ul li > .txt{position: absolute; left: 5%; top: 5%; color: #fff;font-size: 34px;font-weight: bold;}




/* content 03 */
.con3{width: 100%;height: 885px;display: grid; grid-template-columns: 1fr 1fr; gap: 30px; justify-content: center; align-items: center; margin-top: 20px;}

.con3 .left{width: 885px;height: 885px;}
.con3 .left ul{width: 100%; display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap; gap: 20px;}
.con3 .left ul li{width: 430px;height: 430px; position: relative;}
.con3 .left ul li:nth-child(2){display: flex; justify-content: center;align-items: center;flex-direction: column;}
.con3 .left ul li .text{text-align: center;}
.con3 .left ul li .text p:nth-child(1){font-size: 40px; font-weight: bold;}
.con3 .left ul li .text p:nth-child(2){font-size: 20px; color: rgba(0,0,0,0.5);}
.con3 .left ul li .text span{width: 163px; height: 45px; text-align: center; line-height: 45px; margin-top: 55px; background-color: #f5f5f5; border-radius: 50px; font-size: 18px; font-weight: 600;}

.con3 .left ul li > .txt{position: absolute; left: 5%; top: 5%; color: #fff;font-size: 34px;font-weight: bold;}

.con3 .right{width: 885px; height: 885px; position: relative;}
.con3 .right > .txt{width: 100%; position: absolute; left: 50%;top: 50%; transform: translate(-50%,-50%); color: #fff; font-size: 146px; font-weight: bold; text-align: center;}
.con3 .right > .txt p:nth-child(2),.con3 .right > .txt p:nth-child(3){color: rgba(255,255,255,0.5);}

/* content 04 */
.con4{width:1749px;height: 430px; margin-top: 20px;}
.con4 ul{display: flex; gap: 30px; justify-content: space-between; align-items: center;}
.con4 ul li{position: relative;}
.con4 ul li img{width: 100%;height: 100%}
.con4 ul li p{position: absolute; left: 30px;top: 30px; color: #fff; font-size: 34px; font-weight: bold;}





/* footer */
footer{background-color: #f5f5f5;max-width: 1789px; width: 100%;height: 490px;}
.fot{max-width: 1749px; width: 100%; padding: 60px 54px; box-sizing: border-box;}
.fot .top{width: 100%; height: 225px; display: flex;justify-content: space-between; align-items: center;}
.fot .top .left .first{color: rgba(0,0,0,0.5); margin-bottom: 10px;}
.fot .top .left p,.fot .top .left span{font-weight: bold; padding: 0 10px;}
.fot .top .left img{width: 103px; border-radius: 0; margin-bottom: 50px;}
.fot .top .right>ul{display: flex; gap: 50px; margin-top: 50px;}
.fot .top .right>ul>li p{font-size: 20px; margin-bottom: 24px; font-weight: bold;}
.fot .top .right .inner>li{font-size: 18px; color: rgba(0,0,0,0.5); margin-bottom: 10px;}



.fot .bot{margin-top: 65px; display: flex; justify-content: space-between;}
.fot .bot .left span{font-size: 18px; font-weight: bold; margin-bottom: 20px;}
.fot .bot .left p{font-size: 16px; color: rgba(0,0,0,0.5);}
.fot .bot .right img{width: 68px;height: 68px; padding: 0 20px;}